<!DOCTYPE html>
<html>
<head>
  <title>Rbelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<% if current_user %>
<a class="w3-padding" href="/sessions">Logout</a>
<% end %>
<%= yield %>

</body>
</html>
